@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');

body {
    font-family: 'Redacted', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(117,121,9,1) 59%, rgba(167,6,6,1) 63%, rgba(196,4,176,1) 66%, rgba(3,205,67,1) 71%, rgba(2,71,217,1) 76%, rgba(215,1,229,1) 82%, rgba(0,212,255,1) 100%);
    width: 400px;
}
