@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    align-items: stretch;

    font-family: 'Redacted', sans-serif;
    font-size: 2em;

    margin: 0;
    padding: 0;

    min-height: 100%;
    color: #00202e;
}

a:any-link {
  color: #8a508f;
  transition: 1s;
}

a:hover {
  color: #ff6361;
}

div {
  min-width: 3%;
  min-height: 100%;
}

article, footer {
  padding: 20px;
}

.content {
  flex-grow: auto;
}
