<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My first page</title>
</head>
<body>
  {{ content | safe }}
  <footer>
    <a rel="me" href="https://bowldip.club/@homosaur">Mastodon</a>
  </footer>
</body>
</html>