<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}}} | womb.dev</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="content">
    <article>
      {{ content | safe }}
    </article>
    <footer>
      <a rel="me" href="https://bowldip.club/@homosaur">Mastodon</a>
    </footer>
  </div>
  <div style="background-color: #00202e"></div>
  <div style="background-color: #003f5c"></div>
  <div style="background-color: #2c4875;"></div>
  <div style="background-color: #8a508f;"></div>
  <div style="background-color: #bc5090"></div>
  <div style="background-color: #ff6361"></div>
  <div style="background-color: #ff8531;"></div>
  <div style="background-color: #ffa600"></div>
  <div style="background-color: #ffd380;"></div>
</body>
</html>
